shadow/config.py
shadow/*.session
shadow/*.session-journal
shadow/config.ini
logfile
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker
gpic.png

